.fcontainer{
    /*border: 2px solid grey;
    height: 80vh;*/
    margin: 10px;
    padding: 10px;
     display: flex;
    /* flex-direction: column-reverse; */
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    /* justify-content: center; */
    /* align-items: center;
    align-items: flex-end;
    align-items: flex-start; */
    flex-wrap: wrap; 
    /* flex-wrap: wrap-reverse; */
    /* flex-flow: column wrap; */
    
    
}

.fitem{
    /*background-color: rgb(210, 213, 195);
    border: 2px solid black;*/
    margin:40px;
    padding: 20px;
    padding-left: 30px;
    width: 100px;
    height: 100px;
}

.item1{
*/    /* flex-grow: 3; */
    /* flex-shrink: 2; */
   /* align-self: center;*/
}

.item4{
    /*order: 4;*/
    /* flex-grow: 2; */
}