.port{
    border: 2px solid grey;
    height: 25vh;
    display: flex;

       /* flex-direction: column-reverse; */
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    /* justify-content: center; */
    /* align-items: center;
    align-items: flex-end;
    align-items: flex-start; */
    flex-wrap: wrap; 
    /* flex-wrap: wrap-reverse; */
    /* flex-flow: column wrap; */

}
.fitem{
    background-color: rgb(210, 213, 195);
    border: 2px solid black;
    margin:12px;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    padding: 35px;
    padding-left: 60px;
    width: 100px;
    height:40px;
    display: flex;
}
